.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  
  .cats {
    position: fixed;
    transition: top 0.1s linear, left 0.1s linear;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .cat {
    width: 100px; /* Размер кота */
    border: 5px solid #ff77a8;
    border-radius: 25px;
  }