body {
    background-color: #f8d3e0;
    color: #ff77a8;
    font-family: Arial, sans-serif;
  }

  .container {
    text-align: center;
    margin-top: 25px;
  }

  .button {
    position: fixed;
    background-color: #ff77a8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .success-message {
    text-align: center;
    margin-top: 50px;
  }

  .img {
    border: 5px solid #ff77a8;
    border-radius: 55px;
  }

  #img-page  {
    width: 25%;
    margin-top: 10px;
  }

  #img-confir {
    width: 30%;
    height: 30%;
  }

  #link-to-home {
    position: fixed;
    top: 94%;
    left: 43.3%;
    text-decoration: underline;
    border: 3px solid #ff77a8;
    border-radius: 5px;
    padding: 5px 5px;
  }
  
  #button-confir {
    width: 10%;
  }

  .note {
    position: absolute;
    top: 110px;
    left: 550px;
  }

  .breakbutton {
    position: fixed;
    top: 80%;
    left: 45%;
  }
